@import "../app";

.rp5-nav-header {
  position: fixed;
  z-index: 1;
  width: 100%;
  height: $headerHeight;
  display: flex;
  flex-direction: row;

  & .logo {
    line-height: $headerHeight;
    color: white;
    margin-right: 20px;
    font-size: 24px;
  }
  //& .menu {
  //  display: inline-block;
  //}
}