$headerHeight: 64px;

.body, #reactApp {
  min-width: 100%;
  min-height: 100%;
  display: flex;
}

.global-container {
  display: flex;
  flex-direction: column;

  &__content {
    flex: 1;
    margin-top: $headerHeight;
  }
}